* {
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, p, div, li {
  font-family: system-ui, BlinkMacSystemFont, -apple-system, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif !important;
}

a, a:visited, a:active {
  text-decoration: none;
  color: #0366d6;
}

pre, code {
  font-family: "Fira Mono", Menlo, Monaco, "Lucida Console", "Courier New", Courier, monospace !important;
}

.article {
  max-width: 980px;
  min-width: 200px;
  margin: 0 auto;
  padding: 45px;
}

.article__back-link {
  font-size: 20px;
}

.article__date {
  font-size: 15px;
  color: #999;
  font-style: italic;
  display: block;
  margin-bottom: 20px;
}

.article blockquote {
  font-style: italic;
  font-size: 20px;
  color: #999;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.article img {
  /* border: 5px solid #fafafa; */
  box-shadow: 0px 6px 7px 0px rgba(0,0,0,0.03);
  -webkit-box-shadow: 0px 6px 7px 0px rgba(0,0,0,0.03);
  -moz-box-shadow: 0px 6px 7px 0px rgba(0,0,0,0.03);
}

@media (max-width: 767px) {
  .markdown-body {
    padding: 15px;
  }
}

.text-center {
  text-align: center;
}

.profile {
  display: grid;
  grid-template-columns: 1fr 3fr;
  padding: 50px;
  width: 100%;
  max-width: 1100px;
}

@media (max-width: 768px) {
  .profile {
    grid-template-columns: 1fr;
  }
}

.profile__picture {
  margin-right: 50px;
  margin-bottom: 30px;
  min-width: 180px;
  width: 180px;
  height: 180px;
  overflow: hidden;
  border-radius: 50%;
}

.profile__picture img {
  max-width: 100%;
}

.profile__content h1 {
  margin-top: 0px;
}

.profile__content p,
.profile__content li {
  line-height: 150%;
  font-size: 20px;
}