* {
  box-sizing: border-box;
}

.article {
  max-width: 980px;
  min-width: 200px;
  margin: 0 auto;
  padding: 45px;
}

.article blockquote {
  font-style: italic;
  font-size: 20px;
  color: #999;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.article img {
  /* border: 5px solid #fafafa; */
  box-shadow: 0px 6px 7px 0px rgba(0,0,0,0.03);
  -webkit-box-shadow: 0px 6px 7px 0px rgba(0,0,0,0.03);
  -moz-box-shadow: 0px 6px 7px 0px rgba(0,0,0,0.03);
}

@media (max-width: 767px) {
  .markdown-body {
    padding: 15px;
  }
}

.text-center {
  text-align: center;
}